html{

}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

body #root{
  justify-content: center;
  color: white;
  background-color: black;
  width: 100vw;
  height: 100vh;
}

h1
{
  margin: 50px 0px;
  text-align: center;
}

.actions
{
  margin: 2% 0%;
}